/* Global styles */

/* Reset les marges et les paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Corps de la page */
body {
    height: 100vh;
    background-image : url('');
    background-position: center;
    background-size: cover;w
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: #0b8297;
}

/* Style pour le header */
header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.578);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    background-size: 200% 200%;
}

/* ligne de navigation CV , LINKEDLN, CONTACT */
/* Pour que les boutons restent alignés horizontalement */
.navbar {
    gap: 1.5rem;
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
     font-size: 1.5rem;
     font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar a:hover,
.navbar a.active {
    color: #c7c9d3; /*au survol du btn actif */
    transform: scale(1.10); /* grossit au survol du btn actif */
}

.navbar .burger-menu-button {
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5rem;
}

.buttons { 
    display: flex;
    gap: 10px;
}

.action-button {
    background-color: #0b8297;
    color: #000000;
    border: 1px solid #0b8297;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    outline: none;
    font-size: 0.9 rem;
    font-weight: bold;
    cursor: pointer;
}

.action-button:hover {
    color: #ffffff;
    border :1px solid #ffffff;
}

.compteclient {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.compteclient:hover {
    background-color: #ffffff;
    color: #000000;
}



/* -------------------------- BURGER MENU -------------------------------------- */

.burger-menu {
    display: none;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 10px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.burger-menu-button {
    display: none;
}

.burger-menu.open {
    display: block;
    height: auto; /* Rend le contenu visible */
}

.burger-menu li {
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    height: 1px;
    background-color: #fff;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.burger-menu .action-button {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



/* ---------------------------------- RESPONSIVE NAVBAR ---------------------------------------- */


/* Media query pour les écrans plus petits */
@media (max-width: 990px) {
    header {
        background: none;
    }

    .navbar .links,
    .navbar .action-button {
        display: none;
    }

    .burger-menu-button { 
        display: block;
    }

    .burger-menu {
        display: block;
    }
}

@media (max-width: 576px) {

    .burger-menu {
        left: 2rem;
        width: unset;
    }
}



/* ----------------------------------------FOOTER--------------------------------------------------- */

.footer {
    background-color: #0b8297;
}