
/* Global styles */

/* Reset les marges et les paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps de la page */
body {
    background-color: #e8edee;
    font-family: "Arial", "sans-serif"; 
    font-size: 1.4rem;
    padding: 5rem;
    overflow-x: hidden; /* Supprimer le défilement horizontal */
    background-attachment: fixed;
    text-align: justify;
    height: 100%; /* 100% de la hauteur de la page */

}

/* Le canvas prend toute la fenêtre */
canvas {
    background-color: #e8edee !important; /* Le fond DOIT devenir bleu */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;        /* Prendre toute la largeur de la fenêtre */
    height: 100vh;       /* Prendre toute la hauteur de la fenêtre */
    z-index: -1;         /* Mettre le canvas derrière tous les autres éléments */
}


/* Loader container A FAIRE FONCTIONNER*/
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Animation cercle tournant */
.loader::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid #0097b2;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animation */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}



/* Style pour le header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-size: 200% 200%;

}


div.profile-container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1a1b1d;
    padding-bottom: 1.8rem;
}

/* Structure de base */
.entetecontainer {
    display: flex;
    justify-content: space-between; /* Sépare le titre et les boutons, positionne le nom à gauche et les boutons à droite */ 
    align-items: center; /* Centre verticalement */
    flex-wrap: wrap; /* Permet le passage à la ligne si nécessaire */
    gap: 2rem;
}

/* ligne de navigation CV , LINKEDLN, CONTACT */
/* Pour que les boutons restent alignés horizontalement */
.nav-links {
    display: flex;
    gap: 1.5rem;
}

/* Media query pour les écrans plus petits */
@media (max-width: 768px) {
    .entetecontainer {
        flex-direction: column; /* Empile le titre et les boutons */
        align-items: center; /* Centre le tout */
        gap: 1.5rem; 
    }

    .nav-links {
        justify-content: center; /* Centre les boutons horizontalement */
        flex-wrap: wrap; /* S'assure que les boutons restent alignés même si ça dépasse */
    }
}

html {
    font-size: 65%;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Section qui sert a rien ?????? 
header nav a {
    position: relative;
    list-style: none;
    display: flex;
    max-width: 200px;
    margin: auto;
    padding-bottom: 0,75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    color: #000000;
}
*/

.nav-links a:hover,
.nav-links a.active {
    color: #c7c9d3; /*au survol du btn actif */
    transform: scale(1.10); /* grossit au survol du btn actif */
}


.btn{ 
    padding: 1rem 1.6rem;
    font-size: 1.5rem;
    color: #ffffff;
    background-color:#0b8297;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
    border: 2px solid #ffffff; /* Ajout du contour blanc */
}


@media (max-width: 480px) {
    .docs__tag {
        font-size: 1.2rem;
        padding: 0.4rem 0.8rem;
        text-align: center;
    }
}



main {
    padding: 3rem;
}


/* Bienvenue sur mon portfolio */
h2{
    color: #000000;
    padding-bottom: 0rem;
    padding-top: 2rem;
}

p{
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #000000;
    line-height: 1.4; /* Pour améliorer la lisibilité à l'intérieur des paragraphes */
}


div {
    display: block;
    unicode-bidi: isolate;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


/* Section Portfolio */
.portfolio {
    border: 2px solid #484e5e; /* Pour voir les limites visuelles */
    margin-top: 20px; /* Espacement en haut pour éviter que le contenu soit masqué par le container */
    padding: 40px 10%; /* Padding adapté à votre design */
    color: #feffff; /* blanc pour le texte */
    background: #d9d9d9; /* truc moche */  
    text-align: center;
    /*padding-top: 0rem; */
    min-height: 100vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column; /* S'assure que les éléments s'empilent verticalement */
    gap: 2rem;
    max-width: 100%;
    /* overflow: hidden; /* Coupe les débordements internes */
    box-sizing: border-box; /* Pour que padding + border soient inclus dans la taille */
}

/* Titre de la section Portfolio */
.petit-texte{          /* "Mes Productions" */
    font-size: 40px;
    font-weight: 500;
    /* color: #343a3f; /* Noir doux */
    margin-bottom: 20px;
    padding: 10px; /* Espacement autour du texte */
    background-color: #484e5e ; /* Fond  */
    color: #ffffff; /* Couleur du texte */
    border-radius: 8px; /* Coins arrondis */
    display: inline-block; /* S'assure que le fond ne s'étend pas sur toute la largeur */
    max-width: 100%;
    box-sizing: border-box;
}

.tag-selection {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: center; /* Centre les inputs dans la section */
    gap: 0.8rem;
    margin: 2rem 0;
    max-width: 100%; /* évite qu'ils ne s'étendent au-delà de leur conteneur.*/
    box-sizing: border-box;
    text-decoration: none;
}

input{
    background-color: #abafbb;
    color: #000000;
    justify-content: center; /* Centre le texte horizontalement */
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

/* Classe pour l'état actif */
input:hover{
    background-color: #4a6279; /* Couleur de fond pour le survol */
    color: #ffffff; /* Couleur du texte */
    transform: scale(1.05); /* grossit au survol du btn actif */
    transition: all 0.5s ease;
}


/* Liste des éléments du portfolio */
.portfolio-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem; /* Espacement entre les éléments */
    /*overflow: hidden; /* Défilement */
    /* padding-bottom: 10px; /* Espacement au bas pour éviter que les éléments soient collés */
    /*max-width: 100%; /* Utiliser toute la largeur disponible */
    /*height: 80vh; /* Ajuster la hauteur de la section des éléments du portfolio */
    width: 100%; /* S'assure que la grille respecte les limites */
    box-sizing: border-box; /* Pour éviter que les paddings ajoutent de la largeur */
    grid-auto-rows: minmax(250px, auto); /* Hauteur minimale, s'ajuste si le contenu est plus grand */
}

/* Élément individuel du portfolio */
.portfolio-item {
    /*flex-shrink: 0; /* Empêche les éléments de rétrécir */
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1); /* Taille normale */
    /*margin: 0 auto; /* Centrer les éléments */
    font-size: 1.5rem;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    height: 500px; /* Définir une hauteur uniforme */
    transition: all 0.3s ease-in-out;
}

/* Style pour les images des éléments du portfolio */
.portfolio-item img {
    width: 100%; /* S'assurer que l'image occupe toute la largeur de l'élément */
    height: 300px; 
    /* object-fit: cover; */
    cursor: pointer;
    object-fit: contain; /* Garantit que toute l'image est visible sans recadrage */
}

/* Effet au survol des éléments du portfolio */
.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

/* Quand un élément est actif (cliqué) */
.portfolio-item.active {
    /*height: 700px; /* Taille agrandie */
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
    transform: scale(1.2); /* Légèrement plus grand */
}

/* Titre de chaque projet dans le portfolio */
.portfolio-item h3 {
    margin: 2rem; /* Ajoute un peu d'espace au-dessus et en dessous du titre */
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    text-decoration: none !important; /* Supprime le soulignement */
    display: inline-block !important; /* Supprime le soulignement */
}

/* .portfolio-item h3::after {
    content: " 📄";  Ajoute une icône de document 
    font-size: 1.2rem;     Est utilisé quand tous les h3 ont un lien mais pas ici !!
}*/ 

/* titre de la catégorie (Carto, poster, terrain, diag etc) sous chaque projet */
.portfolio-item p {
    font-size: 12px;
    color: #000000;
    /* margin: 0px; /* Ajoute un peu d'espace au-dessus et en dessous du titre */
    text-decoration: none;
}

.portfolio-item h3 a,
.portfolio-item h3 a:visited,
.portfolio-item h3 a:hover,
.portfolio-item h3 a:focus {
    text-decoration: none !important;
    color: inherit !important;
    background: none !important;
}


footer {
    color: #000000;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}


.hero .btn:hover {
    background: #555;
}



/* Modal Styles */
.modal {
    display: none; /* Masqué par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 2rem;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 0.5rem;
}

.modal-text {
    margin-top: 1rem;
    color: #444; 
    font-size: 1.4rem; 
    text-align: justify; 
    padding: 0.5rem; 
}

.modal img {
    width: 100%; /* S'adapte à la largeur du modal */
    height: auto;
    border-radius: 0.5rem;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Ajouter des requêtes de media pour la réactivité */

/* Pour les écrans larges (tablettes et petits écrans de bureau) */

@media (max-width: 480px) {
    .profile-container h1 {
        font-size: 5rem;
    }
    .button {
        font-size: 1.2rem;
        padding: 0.4rem 0.8rem;
    }

    body {
        padding: 2rem;
    }
    .portfolio h2 {
        font-size: 24px;
    }

    .portfolio-items {
        grid-template-columns: 1fr; /* Une seule colonne sur les très petits écrans */
        gap: 15px;
    }

    .portfolio-item {
        width: 100%;
    }

    .nav-links {
        font-size: 16px;
        gap: 10px;
        right: 10px;
    }

    .logo {
        font-size: 18px;
    }
}



/* Pour les écrans de taille moyenne (tablettes portrait et petits écrans mobiles) */
@media (min-width: 480px) and (max-width: 1024px) {
    .profile-container h1 {
        font-size: 6rem;
    }
    .entetecontainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .button {
        font-size: 1.4rem;
        padding: 0.4rem 0.6rem;
    }
    body {
        padding: 2.5rem;
    }
    .portfolio h2 {
        font-size: 28px;
    }

    .portfolio-items {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        height: auto;
        display: grid;
    }

    .portfolio-item {
        width: 95%;
    }

    .navbar {
        font-size: 18px;
        gap: 15px;
        right: 20px;
    }

    .logo {
        font-size: 20px;
    }
}


/* Pour les écrans larges (tablettes et petits écrans de bureau) */
@media (min-width: 1024px) {
    .profile-container h1 {
        font-size: 7rem;
    }
    .entetecontainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links {
        font-size: 1.6rem;
        padding: 0.4rem 0.8rem;
    }
    body {
        padding: 3rem;
    }
    .portfolio h2 {
        font-size: 35px;
    }
    
    .portfolio-items {
        grid-template-cons: repeat(auto-fit, minmax(350px, 1fr));
        gap: 30px;
        height: auto;
    }
    
    .portfolio-item {
        width: 90%;
    }
    
    .nav-links {
        font-size: 20px;
        gap: 25px;
    }
    
    .logo {
        font-size: 22px;
    }
}    


.carousel {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.carousel-image.active {
    display: block;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carousel-arrow.left {
    left: 1px;
}

.carousel-arrow.right {
    right: 1px;
}


.carousel-arrow {
    position: absolute;
    top: 85%;
    transform: translateY(-50%);
    background-color: #696262;
    color: #ffffff;
    padding: 10px;
    border-radius: 100%;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 10;
}

